/* Variables */
:root {
  --back: rgb(232, 240, 243);
}
/* Page */
body{
  background-color: var(--back);
}

/* Buttons */

button{
  font-family: Roboto, Arial;
  vertical-align: bottom;
  margin-left: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: opacity 0.3s,
  background-color 0.3s,
  color 0.3s,
  box-shadow 0.3s;
}

.add-button {
  background-color: var(--back);
  color: rgb(7, 7, 181);
  margin-left: 12px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 16px;
  padding-bottom: 10px;
  border: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  cursor: pointer;
}

.add-button:hover {
  background-color: rgb(7, 7, 181) ;
  color: white;
}

.add-button:active {
  opacity: 0.6;
}

.search-button{
  background-color: var(--back);
  border-color: rgb(7, 7, 181);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  color: rgb(7, 7, 181);
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 5px;
}

.search-button:hover{
  background-color: rgb(7, 7, 181);
  color: white;
}

.search-button:active{
  opacity: 0.6;
}

.tweet-button{
  background-color: rgb(0, 123, 255);
  color: white;
  border-radius: 18px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.tweet-button:hover{
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
}

/* Elements */

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 15%;
  border-radius: 3px 0 0 3px;
}

.prev{
  position: absolute;
  left: 15%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
  font-size: 30px;
  font-style: italic;
  cursor: pointer;
}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

.link-to-list{
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 200px;
  margin-left: 10px;
}

.carousel-title{
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 100px;
  margin-left: 10px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 20px;
  margin-left: 10px;
}

.stats{
  font-size: 30px;
  color: rgb(0, 0, 0);
  margin-top: 40px;
  margin-bottom: 5px;
  margin-left: 10px;
}

/* Input */

input{
  vertical-align: bottom;
  background-color: var(--back);
}

input::placeholder{
  overflow: visible;
}

.search-bar{
  border-width: 0.5px;
  font-size: 15px;
  padding-block: 7.5px;
  padding-right: 30px;
  padding-left: 10px;
  margin-left: 12px;
}

.add-bar{
  border-width: 0.5px;
  font-size: 15px;
  padding-block: 12px;
  padding-right: 250px;
  padding-left: 10px;
  margin-left: 12px;
}

.centering{
  text-align: center;
}