<!DOCTYPE html>
<html>
  <head>
    <title> Glossário Brasileiro de Expressões Populares</title>
  </head>

  <body>

    <div>
      <h1>
        Glossário Brasileiro de Expressões Populares
      </h1>
    </div>

    <div>
      <p class="stats">
        Pesquisar expressões
      </p>
      <input 
      class="search-bar"
      type="text" 
      placeholder="Digite o termo a ser pesquisado"
      >
      <button class = "search-button"> 
        BUSCAR 
      </button>

    </div>
    
    <div>
      <p class="stats">
        Adicionar novas expressões
      </p>
      
      <input 
        class="add-bar"
        type="text" 
        placeholder="Digite a expressão que deseja adicionar"
      >
      <button class="add-button">
        SUBMETER NOVA EXPRESSÃO
      </button>
    </div>
    </body>
</html>